// See https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=7E57C2&secondary.color=757575

$body: #4d2c91;
$text-on-Body: #ffffff;

$primary: #7e57c2;
$primary-light: #b085f5;
$primary-dark: #4d2c91;
$text-on-primary: #ffffff;

$secondary: #757575;
$secondary-light: #a4a4a4;
$secondary-dark: #494949;
$text-on-secondary: #ffffff;
